.Row.row--media-action.param--collapse-on-phone
  .Row__auto
    img.row--media-action__thumb(src="" alt="")
  .Row__full
    p.row--media-action__desc
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .Row__auto
    button.Button(type="button") Action
