.Row
  display table
  width 100%
  vertical-align middle

  &.param--collapse-on-phone

    @media only screen and (max-width: 410px)
      display block
      vertical-align top

      > .Row__full
      > .Row__auto
        display block
        padding-top 1rem
        padding-left 0

        &:first-of-type
          padding-top 0

  & &__full
  & &__auto
    display table-cell
    padding-left 1rem
    vertical-align inherit

    &:first-of-type
      padding-left 0

  & &__full
    width 100%
