.row--media-action
  text-align center

  & &__thumb
    display block
    margin 0 auto
    width 100px
    height 100px
    vertical-align top
    background-color silver

  & &__desc
    font-size 15px
    text-align left
    line-height 1.5
