.row--media-action
  text-align center

  & &__thumb
    display block
    margin 0 auto
    size 100px
    vertical-align top
    background-color silver

  & &__desc
    font-size rem(15px)
    text-align left
    line-height 1.5
