.Popup.popup--demo.param--no-title
  .Popup__window
    .Popup__header
    .Popup__body
      p.popup--demo__message
        | Send a message to your inbox.
    .Popup__footer
      button.Button.button--tint(type="button") Close
