.Button
  appearance none
  position relative
  display inline-block
  box-sizing border-box
  border 1px solid #666
  border-radius 5px
  padding 0 0.75em
  margin 0
  height 2em
  overflow visible
  color #333
  font inherit
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size rem(15px)
  background-color white
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-decoration none
  text-transform none
  line-height 1.9
  vertical-align middle
  white-space nowrap
  user-select none
  cursor pointer

  &:active
  &:hover
  &:focus
    outline 0

  &[disabled]
    cursor default

  &::-moz-focus-inner
    padding 0
    border 0
