.button--submit
  color white
  background-color green
  border-color transparent

.button--cancel
  color white
  background-color red
  border-color transparent

.button--outline
  background-color transparent

.button--tint
  color blue
  border-color transparent
