mixin body

  body&attributes(attributes).Page
    header.Page__header
      h1.Page__header-title Objective.css Style Guide
    block
    footer.Page__footer
      p.Page__footer-note
        a(href="https://github.com/BYODKM/Objective.css" target="_blank").Page__footer-link
          | github.com/BYODKM/Objective.css

mixin test(name)

  section.Doc(id = name)
    script.
      include('./lib/#{name}/test');
    .Doc__test
      block

mixin head

  head&attributes(attributes)
    meta(charset="utf-8")
    title Objective.css Style Guide
    block
    script
      :coffee-script
        window.include = (str)->

          if (!window.XMLHttpRequest) then return
          if (typeof str isnt 'string') then return

          path = str + '.jade'
          id = path.replace(/(\.\/lib\/|\/test.jade)/g, '')

          node = document.querySelector('#' + id)
          if (!node) then return

          pre = document.createElement('pre')
          pre.className = 'Doc__pre'

          code = document.createElement('code')
          code.className = 'Doc__code'

          h1 = document.createElement('h1')
          h1.className = 'Doc__name'

          a = document.createElement('a')
          a.className = 'Doc__anchor'
          a.setAttribute('href', '#' + id)
          a.innerHTML = '.' + id

          jade = node.querySelector('.Doc__test')

          h1.appendChild(a)
          pre.appendChild(code)

          node.insertBefore(h1, jade)
          node.insertBefore(pre, jade)

          code = node.querySelector('pre code')

          http = new XMLHttpRequest()
          check = ->
            if (http.readyState is 4 and http.status is 200)
              code.innerHTML = http.responseText
            return
          http.addEventListener('readystatechange', check, false)
          http.open('GET', path, true)
          http.send(null)

          return
