@charset "utf-8"
@import "./node_modules/kouto-swiss/lib/kouto-swiss"

ks-support-android-browser = true
ks-vendors-prefixes = webkit moz ms o

monospace  = unquote('Menlo, Monaco, "Courier New", monospace')
sans-serif = unquote('"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif')

@font-face
  font-family "Open Sans"
  font-style normal
  font-weight 400
  src local("Open Sans"),
    local("OpenSans"),
    url("//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format("woff")

@font-face
  font-family "Open Sans"
  font-style italic
  font-weight 400
  src local("Open Sans Italic"),
    local("OpenSans-Italic"),
    url("//themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff") format("woff")

@font-face
  font-family "Open Sans"
  font-style normal
  font-weight 600
  src local("Open Sans Semibold"),
    local("OpenSans-Semibold"),
    url("//themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff") format("woff")

@font-face
  font-family "Open Sans"
  font-style italic
  font-weight 600
  src local("Open Sans Semibold Italic"),
    local("OpenSans-SemiboldItalic"),
    url("//themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff") format("woff")

.Page
  margin 0
  font-family sans-serif
  font-size 15px
  line-height 1.25
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  & &__header
    background-color #222
    overflow hidden

  & &__header-title
    margin 0.5em auto
    padding-left 1rem
    max-width 800px
    font-size 2em
    color white

  & &__footer
    color white
    background-color #222
    overflow hidden

  & &__footer-note
    margin 1em auto
    max-width 640px
    text-align center
    text-indent -1px
    letter-spacing 1px

  & &__footer-link
    color white
    text-decoration none

.Doc
  margin 0 auto
  padding 0 0.5rem
  max-width 640px

  & &__name
    margin 2rem 0 0
    color silver
    font-family sans-serif
    font-size 2em

  & &__anchor
    position relative
    display block
    color inherit
    text-decoration none

    &:before
      content '#'
      position absolute
      top 0
      left -0.8em
      display inline-block
      width 0.8em
      color transparent

    &:hover:before
      color currentColor

  & &__pre
    margin 1rem 0 0
    padding 0.9rem 0 1.1rem 1rem
    border-radius 4px 4px 0 0
    overflow-x auto
    overflow-y hidden
    color white
    font-family monospace
    font-size rem(13px)
    background-color #222

  & &__code
    font-family monospace
    font-size 1em

  & &__test
    margin 0 0 2rem
    padding 1rem
    border 1px solid #222
    border-radius 0 0 4px 4px

    p:first-of-type
      margin-top 0

    p:last-of-type
      margin-bottom 0
